* {
    
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    
  }
  
  html {
    /* height: 100vh;  */
    /* width: 100vw; */
    font-family: Arial, Helvetica, sans-serif;
   scroll-behavior: smooth;
  }

  .empty-container {
    height: 40px;
  }

  header {
    background-color: darkblue;
    padding: 10px;
    
  }


  #programmer-title-container {
    text-align: left;
  }

  .button {
    display: block;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
  }

  .button:hover {
    background-color: rgb(194, 194, 214);
    color: darkblue !important;
  }


  body {
    /*background-image: url("background.jfif");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: darkblue !important;
  }

  #survey-typical-form {
    max-width: 500px;
  } 

  fieldset {
    background-color: rgb(226, 231, 233);
    border: 2px solid rgb(59, 59, 78) !important ; /* !important because Bootstrap overwrites styling (Bootstrap fieldsets do not have border by default)
    NOTE: go to Inspect> select the element> Down in CSS properties --- If the property is crossed out, it is overwritten */
    border-radius: 7px;
    padding: 10px;
    /* margin-bottom: 30px !important; */
}

label.question, legend {
  font-weight: bold;
}

header, .format-title, footer {
  color: white ;
}

.basic-info {
  padding-right: 10%;
}

footer {
  padding: 10px;
  margin-top: 10px;
  
}

hr {
  border: 2px solid white !important;
}

.fieldset-hr {
  border: 2px solid darkblue !important;
  width: 100%;
}

textarea {
  height: 50px;
}

a {
  text-decoration: none; /* does not work*/
}

/* input[type="checklist"] {
  margin-left: 80px;
}  does not work*/


input[type="checkbox"] + label { /*This points at all labels that have inputs type checklist as siblings*/
  float: left;
}

/*input[type="checkbox"] {
  margin-left: 30%;
} */


/* div:input[type="checkbox"]  does not work*/
#survey-typical-form .form-check {
  padding-left: 40% !important;
  /* padding-left: 120px !important; Only solves the problem for smaal screen sizes*/
   /*width: 40% ;  not the solution*/
  /*background-color: blueviolet;*/
} /* This does work */

#typical-submit-btn {
  margin-bottom: 20px;;
}

/* MODERN -------------------------------------------------------*/

.basic-info-modern label {
  margin-left: 10px;
}

#state-select {
  height: 78%;
  min-height: 50px;
}

#rememberMe-check-container{
  padding-left: 160px !important;
}

#submit-container {
  padding-right: 20px !important;
}

@media screen and (max-width: 500px) {
  #programmer-title {
    font-size: 1.5rem;
  }

  .button {
    font-size: 0.9rem;
  }
  
}